body{
  align-items: center;
}
.flex-container {
  display: flex;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 70%; 
  margin: 0 auto; 
  height: 600px;
  
  border: 0ch;
  border-radius: 20px;

}

.image {
  height: 600px;
  width: 100%;
  
}

.content {
  background-color: rgb(226, 224, 224);

}

.reservation{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 70%; 
  margin: 0 auto; 
  height: 600px;
  background-color: rgb(226, 224, 224);
  border: 0ch;
  border-radius: 20px;
}

.image-content,
.form {
  padding: 20px;
}
.image-content img {
  max-width: 100%; 
  height: auto; 
  max-height: 100%; 
}

.brand-initial {
  display: inline-block;
  font-weight: bold;
  background-color: #7f4f24;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;
}

.head_left .h_subTitle{
  background-color: bisque;
  color: #7f4f24;
  font-weight: bold;
  padding:  7px 20px;
  border-radius: 20px;
}
 .h_title h1{
  font-size: 50px;
 }

.head_right .imageContainer{
  width: 100%;
  height: 100%;

}
.imageContainer .head_rightImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.h_main{
  height: 100%;
  width: 100%;
  background: rgb(216, 134, 134);
  background: linear-gradient(29deg, #ffe3e3 0%, #ffffff 35% );
}

.boxContainer {
  display: flex;
  height: 100%;
}

.boxContainer > div {
  flex: 1; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;